@using Leiturinha.Models
@model Avaliacao

@{
    ViewData["Title"] = "Detalhes da Avaliação";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="admin-form mt-5">
    <h1 class="text-primary fw-bold mb-4 text-center">Detalhes da Avaliação</h1>

    <dl class="row">
        <div class="detail-row">
            <dt class="col-sm-3 text-primary fw-bold">Livro</dt>
            <dd class="col-sm-9 text-detail">@Model.Livro?.Autor</dd>
        </div>

        <div class="detail-row">
            <dt class="col-sm-3 text-primary fw-bold">Usuário</dt>
            <dd class="col-sm-9 text-detail">@Model.Usuario?.UserName</dd>
        </div>

         <div class="detail-row">
            <dt class="col-sm-3 text-primary fw-bold">Nota</dt>
            <dd class="col-sm-9 text-detail">@Model.Nota</dd>
        </div>

        <div class="detail-row">
            <dt class="col-sm-3 text-primary fw-bold">Data da Avaliação</dt>
            <dd class="col-sm-9 text-detail">@Model.DataAvaliacao.ToString("dd/MM/yyyy HH:mm")</dd>
        </div>
    </dl>

    <div class="d-flex gap-3 justify-content-center mt-4">
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-admin">Editar</a>
        <a asp-action="Index" class="btn btn-admin">Voltar</a>
    </div>
</div>
