@model IEnumerable<Leiturinha.Models.Genero>

@{
    ViewData["Title"] = "Gêneros";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="admin-view mt-5">
    <h1 class="text-title fw-bold mb-4 text-center">Gêneros Literários</h1>

    <div class="text-start mb-3">
        <a asp-action="Create" class="btn btn-admin">Novo Gênero</a>
    </div>

    <table class="table table-bordered table-striped admin-table">
        <thead>
            <tr>
                <th class="text-title text-center">Nome</th>
                <th class="text-title text-center">Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="text-detail text-center fw-bold">@item.Nome</td>
                    <td class="text-end">
                        <div class="d-inline-flex gap-2">
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-admin btn-sm">Editar</a>
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-admin btn-sm">Detalhes</a>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-admin btn-sm">Excluir</a>
                        </div>
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>
